# Disable index view
Options -Indexes

<FilesMatch "\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.html$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.sql$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>