RewriteEngine On
RewriteBase /Test

RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} /views [OR]
RewriteCond %{REQUEST_URI} !\.
RewriteRule ^(.*)$ index.php [QSA,L]

ErrorDocument 404 /Test/index.php?err=404
ErrorDocument 403 /Test/index.php?err=404

<FilesMatch "\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>