# Disable index view
Options -Indexes

# Hide a specific file
<FilesMatch "\.sql$">
    Order allow,deny
    Deny from all
</FilesMatch>

<FilesMatch "\.db$">
    Order allow,deny
    Deny from all
</FilesMatch>