!@(component|upload_form)
<form action="/upload" method="POST" enctype="multipart/form-data" style="box-sizing: border-box; padding: 50px;">
    <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" placeholder="Title" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="artist">Artist</label>
        <input class="form-control" type="text" name="artist" placeholder="Artist" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="minutes">Duration</label>
        <div class="d-flex">
            <input class="form-control me-3" type="number" name="minutes" min="0" step="1" placeholder="Minutes" required>
            <input class="form-control" type="number" name="seconds" min="0" step="1" placeholder="Seconds" required>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="artist">File</label>
        <input class="form-control" type="file" name="file" required>
    </div>
    <input class="btn btn-primary" type="submit" value="Upload">
</form>
!@(end)
